<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785748200268-3slmshuq58sl3i1i923okdm5dire6ftm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785748200268-3slmshuq58sl3i1i923okdm5dire6ftm</string>
	<key>API_KEY</key>
	<string>AIzaSyCm_yERmVQFnxPn9x9Ac7qyNsqNJmeceJA</string>
	<key>GCM_SENDER_ID</key>
	<string>785748200268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tasky.xc</string>
	<key>PROJECT_ID</key>
	<string>tasky-9224c</string>
	<key>STORAGE_BUCKET</key>
	<string>tasky-9224c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785748200268:ios:2bde6b538386f5ce</string>
	<key>DATABASE_URL</key>
	<string>https://tasky-9224c.firebaseio.com</string>
</dict>
</plist>